@media screen and ( min-width: 426px) 
{
    
    main, aside{
        display: flex;
        flex-direction: row;
        background-color: blue;
    }

    main{
        width: 50%;
    }

    aside{
        width: 50%;
    }
}  