@media screen and ( min-width: 426px) 
{
    
    body{
        text-align: center;
    }
    
    #tutorial ul{
        width: max-content;
        margin: auto;
        display: flex;
        
    }

    #restaurant img {
        margin-bottom: 2%;
    }

    .btn {
        width: 34%;
        text-align: left;
    }
    main h2, #tutorial h2 {
        margin-right: 10%;
      }

}  