@media screen and ( min-width: 426px) {

main{
    width: 44%;
    margin: auto;
}

header {
    height: 359px;
}

footer{
    padding-top: 1%;
}

.photo {
    width: 50%;
    margin: auto;
}

img{
    height: 400px;
}

body{
    background-color: rgba(246, 246, 246)
}

}