@media screen and ( min-width: 426px) 
{
    
    body{
        text-align: center;
    }
    

    #tutorial ol{
        display: flex;
        flex-direction: row;
        
    }

    #tutorial li {
        flex: none;
        width: 31%;
    }

    #restaurant {
        display: flex;
        flex-flow: wrap;
    }
    .btn {
        width: 36%;
    }
    main h2, #tutorial h2 {
        margin-right: 10%;
      }
}  