@font-face {
    font-family: "shrikhandregular";
    src: url("shrikhand-regular-webfont.woff2") format("woff2"), url("shrikhand-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
  @font-face {
    font-family: "robotothin";
    src: url("roboto-thin-webfont.woff2") format("woff2"), url("roboto-thin-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

$colorprimary:#9356DC;
$colorsecondary:#FF79DA;
$colortertiary:rgba(153, 226, 208);

body{
    font-family: robotothin;
}
  
header h2{
    text-align: center;
}

.logo{
    font-family: Shrikhandregular;
}
main .logo {
    padding-top: 7%;
    margin: 5%;
}
main{
    background-color: lighten($colortertiary, 20%);;
    border-radius: 30px 30px 0px 0px;
    margin-top: -20%;
    position: relative;
    padding-bottom: 2%;}

h2 i{
    float:right;
}

main li{
    border-radius: 11px;
    border: 2px solid white;
    margin-top: 1px;
    box-shadow: 1px 1px 5px 3px #99E2D0;
    background-color: white;
    list-style-type: none;
    margin-bottom: 4%;
    margin-left: -10%;
    margin-right: 4%;
}


li p{
    font-weight: bold;
    margin: 0%;
    font-size: 0.9rem;
    padding-top: 8%;
}

 li{
    display: flex;
    justify-content: space-between;
}



.btn_order {
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
  }
  
.btn_order {
    margin: 10% 25%;
    padding: 0.05px;
    text-align: center;
    transition: 0.5s;
    background-size: 84% auto;
    color: white;
    box-shadow: 0px 0px 6px 5px #99E2D0;
    border-radius: 50px;
}
  
  .btn_order:hover {
    background-position: right center;
    text-decoration: none;
  }

footer {
    background-color: #303030;
    color: white;
    padding: 1%;
  }
  
  footer li {
    list-style-type: none;
  }